<header class="site-header">

  <nav class="c-header-container">
    <ul class="c-header-navbar-list">
      <li class="c-header-navbar-items"><a href="/}" class="c-header-navbar-link cursor js-nav-baffled">Home</a></li>
      <li class="c-header-navbar-items"><a href="/about.html" class="c-header-navbar-link cursor js-nav-baffled">About</a></li>
      <li class="c-header-navbar-items"><a href="/projects.html" class="c-header-navbar-link cursor js-nav-baffled">Projects</a></li>
      <li class="c-header-navbar-items"><a href="/resume.html" class="c-header-navbar-link cursor js-nav-baffled">Resume</a></li>
      <li class="c-header-navbar-items"><a href="/contact.html" class="c-header-navbar-link cursor js-nav-baffled">Contact</a></li>
    </ul>

  </nav>
</header>
