
.c-masthead {
    //background-color: $primary;
    //height: 100vh;
    //min-height: 550px;
    //display: flex;
    //margin-top: 100px;
    height: 80vh;
    min-height: 400px;
    display: flex;
}

.c-body-content{
    margin:auto;
    text-align: center;
}

.c-body-title {
    margin: 0;
    text-align: center;
}

.c-body-subtitle {
    margin: 0;
    text-align: center;
    font-family: $body-font;
}

// .c-masthead{
//     height: 80vh;
//     min-height: 500px;
//     display: flex;
// }

// .c-body-content{
//     margin:auto;
//     text-align: center;
// }
//
// .c-body-title {
//     margin: 0;
//     text-align: center;
//     color: $font-color;
// }
//
// .c-body-subtitle {
//     color: $font-color;
//     margin: 0;
//     text-align: center;
// }
