.c-post-list {
  //width: 80%;
  min-height: 550px;
  margin: auto;
  color: $font-color;
}

.c-post-item{
  min-height: 250px;
  color: $font-color;
  margin-bottom: 50px;
  padding: 10px;
  border: 2px solid $font-color;
  border-radius: 5px;


  &__header{
      font-family: $heading-font;
      color: $font-color;
      //text-align: center;
  }

  &__title{
    font-family: $heading-font;
    color: $font-color;
    margin: 0;
  }

  &__meta{
    font-family: $body-font;
    color: $font-color;
    display: flex;
    margin-bottom: 5px;
  }

  &__exerpt{
    color: $font-color;
  }

  &__content{
    color: $font-color;
  }

  &__link{
    color: $font-color;
    text-decoration: none;
  }


  &:hover{
    transform: scale(1.05);
    transition-duration: .2s;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.85);
  }

}

@media (max-width: 600px){
  .c-post-item__title{
    font-size: 18px;
    font-weight: 600;
  }

  .c-post-item__content{
    font-size: 14px;
  }
}
