<!DOCTYPE html>
<html class="cursor">

  {% include head.html %}

  <body class="c-color cursor">

    {% include header.html %}

    <div class="c-page-content cursor">
      <div class="wrapper cursor">
        {{ content }}
      </div>
    </div>

  </body>

      {% include footer.html %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
      <script type="text/javascript" src="js/baffle.js"> </script>
      <script type="text/javascript" src="js/main.js"> </script>
</html>
